


html {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: white;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 42px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 16px;
    font-weight: 300;
}

p {
    font-size: 18px;
    line-height: 25px;
}



.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
}

.divider {
    width: 9%;
    text-align: center;
    border-bottom: 4px solid rgba(20,165,140,.5);
    margin: 20px auto;
    
}