#header {
    background: $bg-header;
    
    
    .header-upper {
        margin-bottom: 130px;
        
        @include extraSmall {
            margin-bottom: 100px;
        }
    }
    
    .logo {
        float: left;
        margin-top: -10px;
        
        @include medium {
            margin-top: 0;
        }
    }
    
    .nav-mobile.nav-mobile-close {
        position: fixed;
        z-index: 10001;
    }
    
    nav ul.show-mobile-nav {
        display: block;
        position: absolute;
        background: darken($bg-header,20%);
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        position: absolute;
        z-index: 10000;
        text-align: center;
        
        @include small {
            position: fixed;
        }
        
        
        
        li:nth-child(1) {
            margin-top: 100px;
        }
        
        li {
            display: block;
            width: 100%;
        }
        li a {
            font-size: 35px;
            padding: 10px 20px;
        }
        
 
    }
    
    nav .show-mobile-nav {
        
        display: block;
        
    }
    
    .nav {
        float: right;
        
        ul {
            float: left;
            
            @include small {
                display: none;
            }
        }
        
        ul li {
            display: inline-block;
            margin-right: 25px;
            font-size: 16px;
        }
        
        ul li a {
            text-transform: uppercase;
            color: white;
            padding: 5px 10px;
            padding-bottom: 10px;
            transition: all .3s;
        }
        
        ul li a:hover {
            background: #643a79;
            border-radius: 10%;
        }
    }
    
    .header-lower {
        display: inline-block;
        text-align: center;
        padding: 0 60px;
        margin-bottom: 80px;
        
        @include extraSmall {
            padding: 0 20px;
        }
        
        h1 {
           line-height: 50px; 
           margin-bottom: 80px;
            
            @include extraSmall {
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 50px;
            }
        }
        
        a {
            background: $btn-first;
            color: white;
            padding: 15px 60px;
            border-radius: 2%;
            text-transform: uppercase;
            transition: all .3s;
        }
        
        a:hover {
            background: darken($btn-first,5%);
        }
        
    }
}