#portfolio {
    background: $bg-portfolio;
    color: #393939;
    text-align: center;
    
    .container {
        padding: 100px 20px;
    }
    
    .portfolio-upper {
        margin-bottom: 30px;
        
        p {
            padding: 0 250px;
        }
    }
    
    .portfolio-lower {
        
        
        .portfolio-tabs {
            
            margin-bottom: 30px;
            
            ul li {
                display: inline-block;
                margin-left: 10px;
            }
            
            ul li a {
                text-transform: uppercase;
                background: #ebc985;
                padding: 7px 15px;
                color: black;
                vertical-align: middle;
                border-radius: 3px;
            }
            
        }
        
        .portfolio-showcase {
            overflow: hidden;
        }
        .col-6-portfolio {
            float: left;
            width: 50%;
            padding: 30px;
            
            img {
                width: 100%;
            }
        }
        
        h3 {
            margin-top: 30px;
            text-transform: uppercase;
        }
        
        .portfolio-btn {
            margin-top: 50px;
        }
        .portfolio-btn a {
            color: white;
            background: $btn-second;
            text-transform: uppercase;
            padding: 20px 40px;
        }
        
    }
}