#skills {
    background: $bg-skills;
    text-align: center;
    color: #3c4761;
    
    .container {
        padding: 100px 20px;
    }
    
    .skills-upper {
        margin-bottom: 60px;
        
        p {
            padding: 0 250px;
        }
    }
    
    .skills-lower {
        
        overflow: hidden;
        
        .col-4-skills {
            float: left;
            width: 25%;
        }
        
        strong {
            font-size: 100px;
        }
        
        h3 {
            margin-top: 20px;
        }
        
    }
}