$bg-header: #87509c;
$bg-services: #17c2a4;
$bg-team: #e7f1f8;
$bg-skills: #ffffff;
$bg-portfolio: #ffdd99;
$bg-testimonails: #d74680;
$bg-contacts: #3c5499;
$btn-first: #eb7d4b;
$btn-second: #17c2a4;
$btn-third: #30bae7;